@charset "utf-8";


/*------- common --------*/

:root {
    --txt-color: #000;
    --bg-color: #FFFCF5;
    --bg-color02: #FFF2D5;
    --title-color: #f39e65;
    --btn-color: #df620e;
    --naru-color: #779a34;
    --tarai-color: #e98b2a;
    --honkaku-color: #cc543a;
    --txt-color: #0f0447;
    --white-color: #fffffa;
    --pkz-color: #000;
}

body{
    margin: 0;
    background-color: var(--bg-color);
}

h2,h3,h4,p{
    margin: 0;
}

ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}

#header,div,p{
    box-sizing: border-box;
}


.fadeUp{
    animation-name:fadeUpAnime;
    animation-duration:1.5s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeUpAnime{
      from {
        opacity: 0;
      transform: translateY(40%);
      }
    
      to {
        opacity: 1;
      transform: translateY(0);
      }
    }
    
    
    /* スクロールをしたら出現する要素にはじめに透過0を指定　*/
     
    .fadeUpTrigger{
        opacity: 0;
    }

/*------- header --------*/

#header{
    width: 100%;
    height: 40px;
    background-image: url(./img/bg_header.png);
    background-repeat: repeat;
    background-size: contain;
    background-position-x: -10px;
}

.header_fixed{
    position: fixed;
    width: 100%;
    z-index: 15;
}

.header_fixed.fadeIn{
    background-color: rgba(255,255,255,0.7);
} 

.logo_header{
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    opacity: 0;
    transition: all 0.5s;
}

.logo_header.active{
    visibility: visible;
    opacity: 1;
}

.hamburgerBtn{
    position: relative;
    margin-left: 10px;
}

.hamburgerLine{
    display: inline-block;
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: var(--txt-color);
    border-radius: 5px;
    z-index: 15;
    transition: all 0.5s;
}

.line01{
    top: 10px;
}

.line02{
    top: 20px;
}

.line03{
    top: 30px;
}

/*メニューが表示された時の動き*/

.hamburgerBtn.active .line01{
    top: 20px;
    transform: rotate(45deg);
}

.hamburgerBtn.active .line02{
    opacity: 0;
}

.hamburgerBtn.active .line03{
    top: 20px;
    transform: rotate(-45deg);
}



.mypageBtn{
    height: 35px;
    margin-top: 3px;
    float: right;
    margin-right: 10px;
    z-index: 15;
}

.hamburger_inner{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color02);
    z-index: 10;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.5s ease-out;
}

.hamburger_inner.active{
    transform: translateX(0);
    opacity: 1;
}

.hamburger_inner ul{
    margin: 0 0 0 40px;
    padding-top: 100px;
}

.hamburger_nav_item{
    margin-bottom: 40px;
}

.hamburger_inner > a{
    display: block;
    text-align: right;
}

.hamburger_nav_item img,
.hamburger_inner > a{
    height: 20px;
    width: auto;
}

@media screen and (min-width:600px){

    .header_fixed{
        width: 100;
        left: 50%;
        transform: translateX(-50%);
        padding-left: calc(( 100% - 600px ) / 2 );
        padding-right: calc(( 100% - 600px ) / 2);
    }

    .logo_header{
        width: 320px;
    }

    .logo_header.visible{
        width: 320px;
        visibility: visible;
        opacity: 1;
    }

    #header,.header_fixed{
        height: 50px;
    }

    .mypageBtn{
        margin-top: 10px;
    }

    .line01{
        top: 15px;
    }
    
    .line02{
        top: 25px;
    }
    
    .line03{
        top: 35px;
    }
    

}

@media screen and (min-width:1025px) {

    #header{
        height: 60px;
        padding-left:calc( (100vw - 960px) / 2 ) ;
        padding-right:calc( (100vw - 960px) / 2 ) ;
    }

    .hamburgerBtn,
    .hamburger_inner > a {
        display: none;
    }

    .header_fixed{
        height: 60px;
        padding: 0 ;
        margin-left: auto;
        padding-left: calc((100vw - 1030px) / 2 );
        padding-right: calc((100vw - 1030px) / 2 );
    }

    .hamburger_inner{
        opacity: 1;
        max-width: 1280px;
        height: 60px;
        transform: none;
        background-color: transparent;
        z-index: 16;
    }

    .hamburger_inner ul{
        display: flex;
        width: 910px;
        height: 100%;
        margin: 0;
        align-items: center;
        justify-content: flex-end;
        padding-top: 0;
        transform: none;
        gap: 0 20px;
    }

    .hamburger_nav_item{
        margin-bottom: 0;
    }

    .hamburger_nav_item img{
        height: 18px;
        width: auto;
    }

    .mypageBtn{
        margin-top: 15px;
    }

}

/*------ footer ------*/

#footer{
    position: relative;
    text-align: center;
    padding-bottom: 15px;
    background-image: url(./img/bg_footer.jpeg);
    background-size: cover;
    background-repeat: repeat;
}

.footer_snsWrap{
    margin-top: 40px;
}

.logo_footer{
    width: 80%;
    margin-top: 30px;
}

.icon_footer_sns{
    width: 40px;
}

.icon_footer_sns:nth-child(2){
    margin-left: 60px;
    margin-right: 60px;
}

.footer_nav{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    font-size: 12px;
}

.footer_nav_item:not(:last-of-type)::after {
    content: "";
    display: inline-block;
    height: 10px;
    margin-left: 4vw;
    border-right: 1px solid #000;
}

.footer_nav_item img {
    width: 80%;
    max-width: auto;
    max-height: 20vw;
}

#footer small{
    display: block;
    margin-top: 20px;
    text-align: center;
}

.btn_footer_gotop{
    position: absolute;
    top: -100px;
    display: block;
    width: 30vw;
    height: auto;
    max-width: 60px;
    left: 50%;
    transform: translateX(-50%) ;
}

.btn_footer_gotop img{
    width: 100%;
}

@media screen and (min-width:600px) {

    #footer{
        background-size: contain;
    }

    .logo_footer{
        width: 350px;
        margin-top: 50px;
    }

    .footer_nav{
        width: 500px;
        margin: 60px auto 0;
    }

    .footer_snsWrap{
        margin-top: 50px;
    }

    .footer_nav_item img {
        height: 16px;
        width: auto;
    }
    .footer_nav_item:not(:last-of-type)::after {
        height: 16px;
        margin-left: 20px;
    }

    .btn_footer_gotop{
        max-width: 100px;
    }

}

@media screen and (min-width:1025px) {

    .logo_footer{
        width: 470px;
    }

    .icon_footer_sns{
        width: 65px;
    }

    .footer_snsWrap{
        margin-top: 60px;
    }

    .footer_nav{
        width: 620px;
        font-size: 20px;
    }


    .footer_nav_item img {
        height: 18px;
    }

    .footer_nav_item:not(:last-of-type)::after {
        height: 18px;
        margin-left: 35px;
    }
    

    #footer small{
        margin-top: 50px;
    }

}


/*--------MV-----------*/

.section_MV{
    position: relative;
    text-align: center;
    margin-top: 20px;
    transform: translateY(40%);
    opacity: 0;
    transition: all 1.5s ease-out;
}

.section_MV.fadeIn{
    transform: translateY(0);
    opacity: 1;
}

.img_mv{
    width: 80%;
}

.logo_mv{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: rgba(255,255,255,0.5);
    z-index: 1;
}

.img_mv_naruto{
    position: absolute;
    width: 30%;
    right: 0;
    top: 10px;
}

.img_mv_tokushima{
    position: absolute;
    width: 30%;
    left: 0;
    bottom: 10px;
}

@media screen and (min-width:600px){

    .section_MV{
        width: 450px;
        margin: 90px auto 0;
    }

    .section_intro{
        width: 450px;
        margin: 85px auto 0;
    }

}

@media screen and (min-width:1025px){

    .section_MV{
        width: 900px;
        margin: 20px auto 0;
    }

}


/*------intro-------*/

.section_intro{
    margin-top: 60px;
    text-align: center;
    transform: translateY(40%);
    opacity: 0;
    transition: all 1.5s ease-out;
}

.section_intro.fadeIn{
    transform: translateY(0);
    opacity: 1;
}

.section_intro img{
    width: 80%;
}


.txt_catchcopy{
    width: 60%;
    margin-top: 60px;
}

@media screen and (min-width:600px) {
    
    .txt_catchcopy{
        width: 270px;
    }

}

@media screen and (min-width:1025px){

    .section_intro{
        width: 700px;
        margin: 200px auto 0;
    }

}

/*------sectionUdon-------*/

.section_udon{
    margin-top: 70px;
    padding: 0 20px 80px;
    text-align: center;
    background-image: url(./img/bg_sectionUdon.png);
    background-size: 100% 100%;
}

.topUdon_ul{
    margin-top: 20px;
}

.topUdon_item{
    padding-top: 40px;
}

.topUdon_item::after{
    content: "";
    display: block;
    clear: both;
}

.img_topUdon{
    float: left;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    object-fit: cover;
}

.topUdon_item:nth-of-type(2n) .img_topUdon{
    float: right;
}

.intro_topUdon{
    margin-top: 75px;
    width: 50%;
}

.topUdon_ul a{
    display: block;
    margin-top: 20px;
    text-align: right;
}

.topUdon_item:nth-of-type(2n-1) .intro_topUdon {
    float: right;
}


.txt_topUdon,
.link_topUdon{
    width: 100%;
}

@media screen and (min-width:600px) {

    .section_udon{
        margin-top: 120px;
        padding-bottom: 250px;
    }
         
    .topUdon_item{
    width: 520px;
    margin: auto;
    }

    .img_topUdon{
    width: 250px;
    height: 250px;
    }

    .intro_topUdon{
        width: 40%;
        margin-top: 100px;
    }

    .topUdon_item:first-of-type{
        margin-top: 90px;
    }

    .topUdon_item:not(:first-of-type){
        margin-top: 120px;
    }

    }

    @media screen and (min-width:1025px){

        .section_udon{
            margin: 300px auto 0;
            padding-bottom: 375px;
        }

        .txt_catchcopy{
            width: 450px;
            margin-top: 135px;
        }

        .topUdon_ul{
            width: 960px;
            margin: 150px auto 0;
        }

        .topUdon_item:not(:first-child){
            margin: 200px auto 0;
        }

        .topUdon_item:not(:nth-child(2n)){
            width: 940px;
            padding-right: 20px;
        }

        .topUdon_item:nth-child(2n){
            width: 940px;
            padding-left: 20px;
        }

        .img_topUdon{
            width: 440px;
            height: 440px;
        }

        .intro_topUdon{
            width: 400px;
            margin-top: 220px;
        }

        .txt_topUdon{
            width: 80%;
        }

        .link_topUdon{
            width: 70%;
            margin-top: 50px;
        }

    }


/*------access--------*/


.btn_topModel{
    display:block;
    width: 60vw;
    margin: 0 auto ;
    text-align: center;
    line-height: 3em;
    background: url(./img/bg_btn.jpg) no-repeat ;
    border-radius: 100px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    transition: all 0.3s;
}

.btn_topModel.open{
    box-shadow: none;
    transform: translateY(3px);
}

.img_btn_topModel{
    width: 80%;
    vertical-align: middle;
    transition: all 0.3s;
}

.btn_topModel.open .img_btn_topModel{
    transform: translateY(3.5px);
}

.accordion_area{
    display: none;
    width: 100%;
    padding: 0 calc(( 100vw - 280px ) / 2 );
    transition: all 0.5s;
}

.accordion_area.active{
    display: block;
}

.img_topaccess_intro{
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.img_topaccess_map{
    width: 100%;
    margin-top: 30px;
}

.img_topaccess_car{
    width: 30%;
    margin-top: 20px;
    float: right;
}

.topaccess_ul{
    clear: both;
    padding-top: 30px;
    text-align: center;
}

.accordion_area h4 img{
    width: 100px;
}

.txt_topaccess01,
.txt_topaccess02{
    height: 12px;
    width: auto;
}

.topaccess_naruto p{
    line-height: 3em;
}

.topaccess_naruto p img{
    vertical-align: middle;
}



.topaccess_naruto .txt_topaccess02{
    height: 29px;
    width: 100%;
}

.txt_topaccess01{
    margin-top: 20px;
}

.topaccess_ul .topaccess_item:not(:first-of-type){
    margin-top: 40px;
}



@media screen and (min-width:600px) {

    .btn_topModel{
        width: 400px;
        line-height: 5em;
        border-radius: 50px;
    }

    .img_btn_topModel{
        width: 60%;
    }

    .accordion_area{
        padding: 0 calc(( 100vw - 550px ) / 2 );
    }

    .img_topaccess_intro{
        display: block;
        width: 80%;
        margin: 130px auto 0;
    }

    .img_topaccess_map{
        margin-top: 100px;
    }
    
    .img_topaccess_car{
        margin-top: 50px;
    }

    .topaccess_ul{
        padding-top: 80px;
    }

    .accordion_area h4{
        float: left;
    }
    .accordion_area h4 img{
        width: 140px;
    }

    .txt_topaccess01,
    .txt_topaccess02{
    height: 18px;
}

.topaccess_naruto .txt_topaccess02{
    height: 42px;
    width: auto;
}

.txt_topaccess01{
    margin-top: 0px;
}

.topaccess_item p{
    margin-left: 160px;
    text-align: left;
}

.topaccess_naruto p img {
    vertical-align: top;
}

.topaccess_naruto p {
    line-height: 1.5em;
}

.topaccess_ul .topaccess_item:not(:first-of-type) {
    margin-top: 100px;
}

}

@media screen and (min-width:1025px) {

    .btn_topModel{
        width: 500px;
    }

    .accordion_area{
        padding: 0 calc(( 100vw - 960px ) / 2 );
    }
    
    .img_topaccess_intro{
        width: 70%;
    }

    .img_topaccess_map {
        margin-top: 120px;
    }

    .img_topaccess_map {
        width: 80%;
        display: block;
        margin: 120px auto 0;
    }

    .img_btn_topModel {
        width: 70%;
    }

    .accordion_area h4 img{
        width: 225px;
    }

    .img_topaccess_car{
        width: 25%;
        margin-top: 160px;
    }

    .txt_topaccess01,
    .txt_topaccess02{
    height: 30px;
    }

    .topaccess_naruto .txt_topaccess02{
        height: 70px;
    }

    .topaccess_item p{
        margin-left: 300px;
    }

    .topaccess_naruto p img {
        vertical-align: middle;
    }
    
    .topaccess_naruto p {
        line-height: 2em;
    }

    .topaccess_ul .topaccess_item:not(:first-of-type) {
        margin-top: 150px;
    }

    .topaccess_item p:nth-of-type(2){
        margin-top: 10px;
    }
    
}


/*------sectionmodel-------*/

.section_model{
    margin-top: 120px;
    padding: 0px 20px;
}

.topModel_intro::after{
    content: "";
    display: block;
    clear: both;
}

.topModel_txt{
    float: left;
    width: 50%;
}

.topModel_txt img{
    width: 100%;
}

.img_top_model{
    width: 40%;
    float: right;
}


@media screen and (min-width:600px) {

    .section_model{
        margin-top: 200px;
    }
    
    .topModel_intro{
        width: 500px;
        margin: auto;
    }

    .topModel_txt{
        width: 45%;
    }

    .topModel_txt img{
        margin-top: 50px;
    }

}


@media screen and (min-width:1025px) {

    .section_model{
        margin-top: 375px;
    }

    .topModel_intro{
        width: 720px;
    }

}

/*------sectionblog----------*/

.section_blog{
    text-align: center;
    margin-top: 100px;
    padding: 0 20px 230px;
    background-image: url(./img/bg_sectionBlog.png);
    background-size: 100% 100%;
}

.section_blog h2 {
    width: 50%;
    margin: auto;
    padding-top: 60px;
}

.section_blog h2 img{
    width: 50%;
}

.article_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px 0px;
    margin-top: 100px;
}

.top_article{
    width: 45%;
}

.top_article img{
    width: 100%;
    height: auto;
}

.blog_ichiran{
    display: block;
    margin-top: 60px;
    text-align: right;
}

.blog_ichiran img{
    width: 25%;
}

@media screen and (min-width:600px) {


    .section_blog {
        margin-top: 200px;
    }

    .section_blog h2{
        padding-top: 110PX;
    }

    .section_blog h2 img{
        width: 110px;
    }

    .article_wrap{
        width: 500px;
        margin: 70px auto 0;
        gap: 45px 0px;
    }

    .blog_ichiran{
        width: 500px;
        margin: auto;
        margin-top: 120px;
    }

    .blog_ichiran img{
        width: 20%;
    }
    
}

@media screen and (min-width:1025px) {


    .section_blog {
        margin-top: 300px;
    }

    .article_wrap{
        width: 960px;

    }

    .top_article{
        width: 200px;
    }

    .blog_ichiran{
        width: 960px;
    }

    .blog_ichiran img{
        width: 100px;
    }
    
}
